/*------------------ color scheme ---------------------------*/
/*Primary: #6C63FF*/
/*Secondary: #d45c74*/
/*Black: #3f3d56*/
/*Light Grey: #e6e6e6*/


/* ---------------Reset----------------- */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
    overflow-x: hidden;
}

ol,ul {
    list-style: none;
}

/* ---------------Responsive Images----------------- */
img {
    height:auto;
    width:100%;
}


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------- Global Style ----------------------*/

html {
    font-family: 'Lato', sans-serif;
    font-size:16px;
}

.section-heading {
    font-family: 'Marvel', sans-serif;
    font-weight: 700;
    font-size:5rem;
    text-transform: uppercase;
    margin:0;
    padding:0;
}


/*----------------------Navbar----------------------------------*/

.nav-logo {
    width:150px;
}

nav ul.main {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.nav-main--item {
    margin:0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Marvel', sans-serif;
    font-weight:700;
    font-size:1.5rem;
    color:#3F3D56;
}

.nav-bar-border-color {
    display:flex;
    width:100vw;
    background-color:blue;
    height:5px;
    flex-grow:1;
}

.nav-bar--btm-brdr {
    height:auto;
    flex-grow:1;
}

.nav-bar--left {
    background-color:#6C63FF;
}

.nav-bar--middle {
    background-color:#FF6584;
}

.nav-bar--right {
    background-color:#FCCC63;
}

/*-------------------------main hero------------------------------------*/
#hero {
    width:100vw;
    height:450px;
    background: radial-gradient(110.76% 134.34% at 22.26% 13.38%, rgba(255, 101, 132, 0.12) 0%, rgba(221, 125, 125, 0.38) 48.96%, rgba(108, 99, 255, 0.57) 100%);
    display:flex;
    padding:50px 20vw;
    justify-content:center;

}

.hero-container {
    max-width:900px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-item p {
    margin:0;
    padding:0;
}

.hero-item {
    width:50%;
}

.hero--copy {
    display:flex;
    flex-direction:column;
}

.hero--logo {
    width:50%;
}

.hero--illustration {
    width:100%;
    height:auto;
}


/*---------------------------------- dragon overview -------------------------------------*/

#dragon-overview {
    width:100vw;
    position:relative;
    background-color:#fff;
    display:flex;
    justify-content:center;
}

.overview-container {
    padding-top:50px;
    margin:0 20vw 0 20vw;
    max-width:900px;
}

.overview-heading {
    text-align:center;
    display:block;
    margin:0;
}

.overview-copy {
    display:flex;
    width:100%;
}

.overview-copy p:nth-child(1) {
    padding-right:25px;
    border-right:1px #535461 dotted;
    margin-right:25px;
}

/*color bars ----------------*/
.top {
    position:absolute;
    display:block;
    top:auto;
    left:0;
    float:left;
}

.bottom {
    position:absolute;
    bottom:0 !important;
    right:0;
    margin-right:15px;
}

.color-bar {
    width:20px;
}

.c-b-large {
    height:100px;
}

.c-b-medium {
    height:75px;
}

.c-b-small {
    height:50px;
}

.c-b-one {
    background-color:#6C63FF;
}

.c-b-two {
    background-color:#FF6584;
}

.c-b-three {
    background-color:#FCCC63;
}

.t-1 {
    margin-left:0;
}

.t-2 {
    margin-left:10px;
}

.t-3 {
    margin-left:20px;
}

.b-1 {
    margin-right:15px
}

.b-2 {
    margin-right:25px
}

.b-3 {
    margin-right:35px
}

.cropped-rocket {
    margin-bottom:-3px;
}

/*-------------------- configurations --------------------------*/

.configurations-heading {
    text-align:center;
    color:#fff;
    background-color:#535461;
    padding:25px;
}


/*-------------------- TABLET  ------------------------*/

@media screen and (max-width:900px) {
    .section-heading {
        font-size:2rem;
    }
    
    #hero {
        padding:20px 5vw;
        height:auto;
    }
    
    .overview-copy {
        flex-direction:column;
    }
    
    .overview-copy p:nth-child(1) {
        padding:0;
        padding-bottom:25px;
        border-right:0;
        border-bottom:1px #535461 dotted;
    }
    
    nav ul.main {
        flex-direction:column;
        align-items:center;
    }
    
    .nav-main--item {
        font-size:1.5rem;
        align-self:center;
    }
    
    .nav-logo {
        padding:10px;
        text-align:center;
        margin:auto;
    }
}


/*--------------- MOBILE -----------------*/

@media screen and (max-width:450px) {
    
    #hero {
        width:100vw;
    }
    
    .hero-container {
        display:flex;
        flex-direction:column;
        width:100%;
        padding:0 10px;
    }
    
    .hero-item {
        margin-bottom: 15px;
        width:80%;
    }
    
    .hero--logo {
        width:100%;
    }
    
    .hero-illustration {
        width:80%;
    }
    
    .cropped-rocket {
        width:80%;
    }
    
    .overview-container {
        padding:35px;
        margin:0;
        padding-bottom:0;
    }
}